@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather:ital,wght@1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.i {
    font-family: 'Merriweather', serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    width: 100%;
}

#logo img {
    margin-left: auto;
    margin-right: auto;
    display: block;
   }
   
   .navbar {
       list-style-type: none;
       margin: 0;
       padding: 0;
       overflow: hidden;
       background-color: #333;
     }
     
     .navbar li {
       float: left;
     }
     
     .navbar li a {
       display: block;
       color: white;
       padding: 14px 16px;
       text-decoration: none;
     }
     
   
     .navbar li a:hover {
       background-color: #111;
     }

     .menu {
        background-color: #333;
        display: flex;
        justify-content: center;
      }
.hero-section {
    background-image: url(/images/hero.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.hero {
    padding: 150px 0px;
    color: white;
}

h1 {
    font-size: 50px;
}

.sep {
    width: 150px;
    border: 1px solid orange;
    margin: 30px 0;
}

.hero ul {
    margin: 30px 0;
}

.hero ul li {
    margin-left: 20px;
}

.hero button {
    background-color: rgb(52, 134, 59);
    padding: 15px 50px;
    outline: 0px;
    border: 0px;
    font-weight: bold;
    color: white;
}

main {
    padding: 50px 0;
}

.main-header {
    text-align: center;
    font-weight: 400;
    margin-bottom: 50px;
}

.main-header h1 {
    font-size: 30px;
    font-weight: 400;
}

.main-header p{
    margin-top: 20px;
}

.main-choice {
    display: flex;
    gap: 50px;
}

.menus {
    background: #EEEEEE;
    width: fit-content;
    height: fit-content;
    padding: 30px 30px 50px 30px;
}

.menus ul {
    list-style: none;
}

.menus li { 
    margin-bottom: 20px;
    border-bottom: 1px solid #AAAAAA;
    padding: 5px 0;
}

.menus a {
    color: black;
    text-decoration: none;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 50px;
}

.card {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.card img {
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
    margin-bottom: 10px;
}

.card .name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.card .desc {
    margin-bottom: 20px ;
}

.card .price {
    font-size: 20px;
    color: gray;
    margin-bottom: 20px;

}

.card button {
    background-color: rgb(71, 122, 73);
    padding: 15px 50px;
    outline: 0px;
    border: 0px;
    font-weight: bold;
    color: white;
}

.footer-section {
    background-color: #002198;
    margin-top: auto;
}

footer {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 50px;
}

footer ul {
    list-style: none;
}

footer ul .text{
    margin-bottom: 15px;
}

footer a, footer .text {
    color: #fff;
}

.copyright {
    font-size: 15px;
    text-align: right;
    color: #fff;
}

.copyright-wrapper {
    padding: 3px 50px 50px 50px;
}

@media only screen and (max-width: 700px) {
    footer {
        padding: 50px 30px;
    }

    .copyright-wrapper {
        padding: 3px 30px 30px 30px;
    }
}

@media only screen and (max-width: 400px) {
    footer {
        padding: 50px 20px;
    }
    .copyright-wrapper {
        padding: 3px 20px 20px 20px;
    }
}
